.vs/
CollectionManager.API/bin/
CollectionManager.API/obj/
CollectionManager.API/Logs/
CollectionManager.API/appsettings.Development.json
CollectionManager.Data/obj/
CollectionManager.Data/bin/
CollectionManager.Shared/bin/
CollectionManager.Shared/obj/
CollectionManager.API/Storage/
