.vs/
CollectionManager.API/bin/
CollectionManager.API/obj/
CollectionManager.API/Logs/
CollectionManager.API/appsettings.Development.json
CollectionManager.Data/obj/
CollectionManager.Data/bin/
CollectionManager.Shared/bin/
CollectionManager.Shared/obj/
CollectionManager.API/Storage/
CollectionManager.Shared.Test/bin/
CollectionManager.Shared.Test/obj/
CollectionManager.Data.Test/bin/
CollectionManager.Data.Test/obj/
CollectionManager.API.Test/bin/
CollectionManager.API.Test/obj/
Docker-Logs/
